.prose h1 a,.prose h2 a,.prose h3 a,.prose h4 a,.prose h5 a,.prose h6 a{text-decoration:none!important}.prose ul li{margin-bottom:0;margin-top:.4em;padding-inline-start:0}.prose ul li::marker{color:#e2b04a}
